.wd-black-bg {
    background-color: black;
}

.wd-helvetica {
    font-family: helvetica;
}

.wd-top-margin {
    margin-top: 12px;
}

.wd-left-margin {
    margin-left: 16px;
}

.wd-top-padding {
    padding-top: 12px;
}

.wd-left-padding {
    padding-left: 16px;
}

.wd-no-margin {
    margin: 0px
}

.wd-white-color {
    color: white;
}

.wd-gray-color {
    color: lightgray;
}

.wd-font-20 {
    font-size: 20px;
}

.wd-border {
    border-color: rgb(47, 51, 54);
    border-style: solid;
    border-width: 1px;
}

.wd-font-13 {
    font-size: 13px;
}

.wd-font-15 {
    font-size: 15px;
}

.wd-float-left {
    float:left;
}

.wd-clear-float {
    clear: both;
}

.wd-padding-12 {
    padding: 12px;
}

.wd-red-color {
    color: red;
}